/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
:root {
    --color-prmairy: #540B51;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
}

.nav {
    display: flex;
    background-color: var(--color-prmairy);
    justify-content: space-between;
    padding: 2rem;
}

.nav .content {
    display: flex;
}

.nav .logo {
    width: 15rem;
}
.nav button {
    background-color: var(--color-prmairy);
    border: 0;
}

.collapsable {
    display: none;
}
