/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
:root {
    --color-prmairy: #540B51;
    --color-secondary: #fff;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--color-prmairy);
}

h1 {
    margin: 0;
}

/* Navbar */
.nav {
    display: flex;
    background-color: var(--color-prmairy);
    justify-content: space-between;
    padding: 2rem;
}

.nav .content {
    display: flex;
}

.nav .logo {
    width: 15rem;
}
.nav button {
    background-color: var(--color-prmairy);
    border: 0;
}

.collapsable {
    display: none;
}


/* header */
.header {
    background-color: var(--color-prmairy);
    text-align: center;
}

.header  h1 {
    color: var(--color-secondary);
    font-size: 4.5rem;
    padding: 3rem 4rem;
}
.header  p {
    color: var(--color-secondary);
    font-size: 2.1rem;
}
.header .colored-text {
    color: #ECB12F;
}


/* Buttons */
.button {
    padding: 2.5rem;
    border-radius: 7px;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 1.5rem;
    
}

.button-primary {
    background-color: white;
    color: var(--color-prmairy);
}
.button-secondary {
    position: relative;
    background-color: #4285F4;
    color: var(--color-secondary);
}

.button-secondary .logo {
    background-color: var(--color-secondary);
    position: absolute;
    width: 5rem;
    bottom: .7rem;
    left: .8rem;
}

